<a href="https://colab.research.google.com/github/rilakkuma923/Python25Study/blob/main/%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(a, b):
  return a+b

a = 3
b = 4
c = add(a, b)
print(c)

7

In [ ]:
def add(a, b):
  return a + b

print(add(3, 4))

7

In [ ]:
def add(a, b):
  result = a + b
  return result

a = add(3, 4)
print(a)

7

In [ ]:
def say():
  return 'Hi'

a = say()
print(a)

Hi

In [ ]:
def add(a, b):
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))

add(3, 4)

3, 4의 합은 7입니다.

In [ ]:
def sub(a, b):
  return a - b

result = sub(a=7, b=3)
print(result)

result = sub(b=5, a=3)
print(result)

4
-2

In [ ]:
def add_many(*args):
  result = 0
  for i in args:
    result = result + i
  return result

result = add_many(1, 2, 3)
print(result)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [ ]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":
    result = 1
    for i in args:
      result = result * i
  return result

result = add_mul('add', 1,2,3,4,5)
print(result)
result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

In [ ]:
def print_kwargs(**kwargs):
  print(kwargs)

print_kwargs(a=1)
print_kwargs(name='foo', age=3)
print_kwargs(name='홍길동', age=25, city='서울', job='개발자')

{'a': 1}
{'name': 'foo', 'age': 3}
{'name': '홍길동', 'age': 25, 'city': '서울', 'job': '개발자'}

In [ ]:
def create_profile(**info):
  print("=== 프로필 정보 ===")
  for key, value in info.items():
    print(f"{key}: {value}")

create_profile(이름='김철수', 나이=30, 직업='프로그래머', 취미='독서')

=== 프로필 정보 ===
이름: 김철수
나이: 30
직업: 프로그래머
취미: 독서

In [ ]:
def mixed_function(name, *args, **kwargs):
  print(f"이름: {name}")
  print(f"추가 인수들: {args}")
  print(f"키워드 인수들: {kwargs}")

mixed_function('홍길동', 1, 2, 3, ager=25, city='서울')

이름: 홍길동
추가 인수들: (1, 2, 3)
키워드 인수들: {'ager': 25, 'city': '서울'}

In [ ]:
def add_and_mul(a,b):
  return a+b, a*b

result = add_and_mul(3, 4)
print(result)

result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

(7, 12)
7
12

In [ ]:
def add_and_mul(a,b):
  return a+b

result = add_and_mul(2, 3)
print(result)

5

In [ ]:
def say_nick(nick):
  if nick == "공주":
    return
  print("나의 별명은 %s 입니다." % nick)

say_nick('으하하')

나의 별명은 으하하 입니다.

In [ ]:
def say_myself(name, age, man=True):
  print("나의 이름은 %s 입니다." % name)
  print("나이는 %d살입니다." % age)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

say_myself("박응용", 27)
print("\n")
say_myself("박응용", 27, True)
print("\n")
say_myself("박응선", 27, False)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.


나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.


나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [ ]:
a = 1

def vartest(a):
  a + 1

vartest(a)
print(a)
vartest(3)
print(a)

1
1

In [ ]:
def vartest(hello):
  hello = hello + 1

In [ ]:
a = 1
def vartest(a):
  a = a + 1
  return a

a = vartest(a)
print(a)

2

In [ ]:
a = 1
def vartest():
  global a
  a = a + 1

vartest()
print(a)

2

In [ ]:
def change_list(my_list):
  my_list.append(4)

a = [1, 2, 3]
change_list(a)
print(a)

[1, 2, 3, 4]

In [ ]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

In [ ]:
def add(a, b):
  return a+b

result = add(3, 4)
print(result)

7

In [ ]:
def add(a, b):
  """
  두 숫자를 더하는 함수

  Parameters:
  a (int, float): 첫 번째 숫자
  b (int, float): 두 번째 숫자

  Returns:
  int, float: 두 숫자의 합
  """
  return a + b

print(add.__doc__)

  두 숫자를 더하는 함수

  Parameters:
  a (int, float): 첫 번째 숫자
  b (int, float): 두 번째 숫자

  Returns:
  int, float: 두 숫자의 합

In [ ]:
a = input()
a

Life is too short, you need python

'Life is too short, you need python'

In [ ]:
number = input("숫자를 입력하세요: ")
print(number)
print(type(number))

숫자를 입력하세요: 3
3
<class 'str'>

In [ ]:
age = input("나이를 입력하세요: ")
age = int(age)
print(age + 1)

나이를 입력하세요: 25
26

In [ ]:
height = input("키를 입력하세요(cm): ")
height = float(height)
print(height / 100)

키를 입력하세요(cm): 175.5
1.755

In [ ]:
age = int(input("나이를 입력하세요: "))
print(type(age))

나이를 입력하세요: 50
<class 'int'>

In [ ]:
a = 123
print(a)

a = "Python"
print(a)

a = [1, 2, 3]
print(a)

123
Python
[1, 2, 3]

In [ ]:
print("life" "is" "too short")
print("life" + "is" + "too short")
print("life", "is", "too short")
print("2025", "08", "17", sep="-")
print("점프", "투", "파이썬", sep=" TO ")

lifeistoo short
lifeistoo short
life is too short
2025-08-17
점프 TO 투 TO 파이썬

In [ ]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
print("=== 간단한 계산기 ===")

num1 = float(input("첫 번째 숫자를 입력하세요: "))
num2 = float(input("두 번째 숫자를 입력하세요: "))

print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} * {num2} = {num1 * num2}")

if num2 != 0:
  print(f"{num1} / {num2} = {num1 / num2}")
else:
  print("0으로 나눌 수 없습니다.")

=== 간단한 계산기 ===
첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 3
10.0 + 3.0 = 13.0
10.0 - 3.0 = 7.0
10.0 * 3.0 = 30.0
10.0 / 3.0 = 3.3333333333333335

In [ ]:
f = open("새파일.txt", 'w')
for i in range(1, 11):
  data = "%d번째 줄입니다.\n" % i
  f.write(data)
  print(data)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
f = open("새파일.txt", 'r')
while True:
  line = f.readline()
  if not line: break
  print(line)
f.close

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  line = line.strip()
  print(line)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f = open("새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f = open("새파일.txt", 'r')
for line in f:
  print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
f = open("새파일.txt", 'a')
for i in range(11, 20):
  data = "%d번째 줄입니다.\n" % i
  f.write(data)
f.close()

In [ ]:
f = open("foo.txt", 'w')
f.write("Lifd is too short, you need python")
f.close()

In [ ]:
with open("foo.txt", "w") as f:
  f.write("Life is too short, you need python")

In [ ]:
def my_function():
  func_var = "함수 안의 변수"

my_function()

In [ ]:
if True:
  if_var = "if 블록 안의 변수"

print(if_var)

for i in range(3):
  loop_var = "반복문 안의 변수"

print(i)
print(loop_var)

if 블록 안의 변수
2
반복문 안의 변수

In [ ]:
with open("test.txt", "w") as f:
  content = "Hello, Python!"
  f.write(content)

print(content)

Hello, Python!

In [95]:
with open("한글파일.txt", "w", encoding="utf-8") as f:
  f.write("안녕하세요, 파이썬!")

with open("한글파일.txt", "r", encoding="utf-8") as f:
  content = f.read()
  print(content)

안녕하세요, 파이썬!