<a href="https://colab.research.google.com/github/rilakkuma923/Python25Study/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#숫자형
#Number 타입 : 정수, 실수, 8진수, 16진수, 2진수 등을 표현한다.

a = 123
print(a)

123

In [2]:
a = 0o177
print(a)

127

In [3]:
a = 0x8ff
b = 0xABC
print(b)

2748

In [7]:
a = 3
b = 4
print(a + b)

print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

In [8]:
a = 3
b = 4
a ** b

81

In [12]:
print(7 % 3)
print(3 % 7)

1
3

In [13]:
print(7 / 4)
print(7 // 4)

1.75
1

In [16]:
a = 1
a +=  1
print(a)

2

In [17]:
a = 1
a -= 1
print(a)

0

In [21]:
food = "Python's favorite food is perl"
print(food)

say = '"Python is very easy." he says.'
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [22]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says"
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says

In [26]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [28]:
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [29]:
multiline="""
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

In [30]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [31]:
a = "python"
a * 2

'pythonpython'

In [32]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [33]:
a = "Life is too short"
len(a)

17

In [51]:
a = "Life is too short, You need Python"
print(a[3])
print(a[0])
print(a[12])
print(a[-1])
print(a[-2])
print(a[-5])

b = a[0] + a[1] + a[2] + a[3]
print(b)
print(a[0:4])
print(a[0:3])
print(a[0:5])
print(a[0:2])
print(a[5:7])
print(a[12:17])
print(a[19:])
print(a[:17])
print(a[:])
print(a[19:-7])

e
L
s
n
o
y
Life
Life
Lif
Life
Li
is
short
You need Python
Life is too short
Life is too short, You need Python
You need

In [54]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20230331
Rainy

In [55]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2023
0331
Rainy

In [58]:
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

In [60]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [61]:
"I eat %s apples." % "five"

'I eat five apples.'

In [62]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [63]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [64]:
print("I have %s apples" %3)
print("rate is %s" % 3.234)

I have 3 apples
rate is 3.234

In [65]:
"Error is %d%%." % 98

'Error is 98%.'

In [66]:
"%10s" % "hi"

'        hi'

In [67]:
"%-10sjane." % 'hi'

'hi        jane.'

In [68]:
"%0.4f" % 3.42134234

'3.4213'

In [69]:
"%10.4f" % 3.42134234

'    3.4213'

In [70]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [71]:
"I eat {0} apples".format("five")

'I eat five apples'

In [73]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [74]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [75]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [76]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [77]:
"{0:<10}".format("hi")

'hi        '

In [78]:
"{0:>10}".format("hi")

'        hi'

In [79]:
"{0:^10}".format("hi")

'    hi    '

In [83]:
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))

====hi====
hi!!!!!!!!

In [86]:
y = 3.42134234
print("{0:0.4f}".format(y))
print("{0:10.4f}".format(y))
print("{{ and }}".format())

3.4213
    3.4213
{ and }

In [87]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [89]:
age = 30
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [90]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [102]:
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":^10}')
print(f'{"hi":=^10}')
print(f'{"hi":!<10}')
print("\n")

y = 3.42134234
print(f'{y:0.4f}')
print(f'{y:10.4f}')
print(f'{{ and }}')
print("\n")

print(f"난 {1500000:,}원이 필요해")

hi
        hi
    hi
====hi====
hi!!!!!!!!


3.4213
    3.4213
{ and }


난 1,500,000원이 필요해

In [103]:
a = "hobby"
a.count('b')

2

In [104]:
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))

14
-1

In [106]:
a = "Life is too short"
print(a.index('t'))
print(a.index('h'))

8
13

In [107]:
",".join('abcd')

'a,b,c,d'

In [108]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [110]:
a = "hi"
a.upper()

'HI'

In [111]:
a = "HI"
a.lower()

'hi'

In [112]:
a = " hi "
a.lstrip()

'hi '

In [113]:
a = " hi "
a.rstrip()

' hi'

In [114]:
a = " hi "
a.strip()

'hi'

In [115]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [116]:
a = "Life is too short"
print(a.split())
b = "a:b:c:d"
print(b.split(':'))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [120]:
s = "Python"
print(s.isalpha())
s = "Python3"
print(s.isalpha())
s = "Hello World"
print(s.isalpha())

True
False
False

In [121]:
s = "12345"
print(s.isdigit())
s = "1234a"
print(s.isdigit())
s = "12 34"
print(s.isdigit())

True
False
False

In [122]:
s = "Life is too short"
print(s.startswith("Life"))
print(s.startswith("short"))

True
False

In [123]:
s = "Life is too short"
print(s.endswith("short"))
print(s.endswith("too"))

True
False

In [125]:
a = 'hi'
print(a.upper())
print(a)

a = a.upper()
print(a)

HI
hi
HI

In [127]:
a = [1, 2, 3]
a
print(a[0])
print(a[0] + a[2])
print(a[-1])

1
4
3

In [129]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[-1])
print(a[3])
print(a[-1][0])
print(a[-1][1])
print(a[-1][2])

1
['a', 'b', 'c']
['a', 'b', 'c']
a
b
c

In [130]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

In [131]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [132]:
a = "12345"
a[0:2]

'12'

In [133]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

In [134]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [135]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [137]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [138]:
a = [1, 2, 3]
len(a)

3

In [139]:
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

In [140]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [141]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [142]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [144]:
a = [1, 2, 3]
a.append(4)
print(a)
a.append([5, 6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [145]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [146]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [147]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [148]:
a = [1, 2, 3]
print(a.index(3))
print(a.index(1))

2
0

In [150]:
a = [1, 2, 3]
a.insert(0, 4)
print(a)
a.insert(3, 5)
print(a)

[4, 1, 2, 3]
[4, 1, 2, 5, 3]

In [151]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)
a.remove(3)
print(a)

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

In [152]:
a = [1, 2, 3]
print(a.pop())
print(a)

3
[1, 2]

In [154]:
a = [1, 2, 3]
print(a.pop())
print(a)

3
[1, 2]

In [155]:
a = [1, 2, 3]
print(a.pop(1))
print(a)

2
[1, 3]

In [156]:
a = [1, 2, 3, 1]
a.count(1)

2

In [157]:
a = [1, 2, 3]
a.extend([4, 5])
print(a)
b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

In [158]:
t1 = (1, 2, 'a', 'b')
print(t1[0])
print(t1[3])

1
b

In [159]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [161]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [162]:
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [163]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [167]:
a = {1: 'a'}
a[2] = 'b'
print(a)

a['name'] = 'pey'
print(a)

a[3] = [1,2,3]
print(a)

del a[1]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}
{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [168]:
grade = {'pey':10, 'julliet':99}
print(grade['pey'])
print(grade['julliet'])

10
99

In [169]:
a = {1:'a', 2:'b'}
print(a[1])
print(a[2])

a
b

In [170]:
a = {'a':1, 'b':2}
print(a['a'])
print(a['b'])

1
2

In [177]:
dic = {'name':'pay', 'phone':'010-9999-1234', 'birth':'1118'}
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pay
010-9999-1234
1118
dict_keys([1])

In [172]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

In [187]:
a = {'name': 'pay', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.keys())

for k in a.keys():
  print(k)

print(list(a.keys()))
print(a.values())
print(a.items())
a.clear()
print(a)

dict_keys(['name', 'phone', 'birth'])
name
phone
birth
['name', 'phone', 'birth']
dict_values(['pay', '010-9999-1234', '1118'])
dict_items([('name', 'pay'), ('phone', '010-9999-1234'), ('birth', '1118')])
{}

In [194]:
a = {'name':'pay', 'phone':'010-9999-1234', 'birth':'1118'}
print(a.get('name'))
print(a.get('phone'))

print(a.get('nokey'))
print(a.get('nokey', '정보없음'))
print('name' in a)
print('email' in a)

phone = a.pop('phone')
print(phone)
print(a)

email = a.pop('email', '정보없음')
print(email)

pay
010-9999-1234
None
정보없음
True
False
010-9999-1234
{'name': 'pay', 'birth': '1118'}
정보없음

In [198]:
s1 = set([1, 2, 3])
print(s1)

s2 = set("Hello")
print(s2)

s3 = {1, 2, 3}
print(s3)

s4 = {'a', 'b', 'c'}
print(s4)

{1, 2, 3}
{'l', 'e', 'H', 'o'}
{1, 2, 3}
{'c', 'b', 'a'}

In [199]:
s1 = set([1, 2, 3])
l1 = list(s1)
print(l1)

print(l1[0])

t1 = tuple(s1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

In [208]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1 & s2)
print(s1.intersection(s2))

print(s1 | s2)
print(s1.union(s2))

print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

s1 = set([1, 2, 3])
s1.add(4)
print(s1)

s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print(s1)

s1 = set([1, 2, 3])
s1.remove(2)
print(s1)

s1 = set([1, 2, 3])
s1.discard(2)
print(s1)

s1.discard(4)
print(s1)

s1 = set([1, 2, 3])
s1.clear()
print(s1)

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3}
{1, 3}
{1, 3}
set()

In [210]:
a = True
b = False

print(type(a))
print(type(b))

print(1 == 1)
print(2 > 1)
print(2 < 1)

<class 'bool'>
<class 'bool'>
True
True
False

In [213]:
a = [1, 2, 3, 4]
while a:
  print(a.pop())

if []:
  print("참")
else:
  print("거짓")

if[1, 2, 3]:
  print("참")
else:
  print("거짓")

4
3
2
1
거짓
참

In [215]:
print(bool('python'))
print(bool(''))
print(bool([1, 2, 3]))
print(bool([]))
print(bool(0))
print(bool(3))

True
False
True
False
False
True

In [219]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print("\n")

print(True or True)
print(True or False)
print(False or True)
print(False or False)
print("\n")

print(not True)
print(not False)
print(not 1)
print(not 0)
print("\n")

x = 5
y = 10
print(x > 0 and y > 0)
print(x > 10 or y > 5)
print(not(x > y))

True
False
False
False


True
True
True
False


False
True
False
True


True
True
True

In [223]:
a = [1, 2, 3]
id(a)

134177722367168

In [226]:
a = [1, 2, 3]
b = a
print(id(a))
print(id(b))

print(a is b)

a[1] = 4
print(a)
print(b)

134177724058944
134177724058944
True
[1, 4, 3]
[1, 4, 3]

In [227]:
a = [1, 2, 3]
b = a[:]
a[1] =4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [228]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
b is a

False

In [229]:
a = [1, 2, 3]
b = a.copy()
b is a

False

In [230]:
a = 3
b = 5
a, b = b, a
print(a)
print(b)

5
3